<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="DataSource" value="DB" />
  </appSettings>
  <connectionStrings>
    <add name="DbConnect"
         connectionString="Data Source=DESKTOP-2AITIHR;Initial Catalog=UsersAndAwards;Integrated Security=True"></add>
  </connectionStrings>
</configuration>